apiVersion: apps/v1
kind: Deployment
metadata:
  name: dotnet-api-deployment
  labels:
    app: dotnet-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: dotnet-api
  template:
    metadata:
      labels:
        app: dotnet-api
    spec:
      containers:
        - name: dotnet-api
          image: shweyasingh/sampleapi:latest
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: dotnet-api
spec:
  type: NodePort
  selector:
    app: dotnet-api
  ports:
    - protocol: TCP
      nodePort: 30158
      port: 80
      targetPort: 80
